.cart-container {
  background-color: white;
  padding: 30px 60px;
  height: 400px;
  overflow: scroll;
  border-radius: 15px;
}

.cart-container::-webkit-scrollbar {
  display: none;
}

.myCartmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* overflow: auto;
      border-radius: 4px;
      outline: none;
      padding: 20px; */
}

.myCartoverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

@media screen and (max-width: 500px) {
  .cart-container {
    min-width: 300px;
  }
}
