.home-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(home-6.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.logo {
  width: 90px;
  border-radius: 50%;
  border: 3px solid rgb(239, 79, 95);
}
